# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AnnotateDataUpdate.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bstaf\Documents\Github\AnnotateDataUpdate\.idea\.idea.AnnotateDataUpdate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
